<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <!-- 餐厅列表主界面 -->
        <activity
            android:name=".RestaurantListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 三个餐厅界面 -->
        <activity
            android:name=".ChineseRestaurantActivity"
            android:exported="false"
            android:parentActivityName=".RestaurantListActivity" />
        <activity
            android:name=".ItalianRestaurantActivity"
            android:exported="false"
            android:parentActivityName=".RestaurantListActivity" />
        <activity
            android:name=".BurgerRestaurantActivity"
            android:exported="false"
            android:parentActivityName=".RestaurantListActivity" />
        <activity
            android:name=".DongyiRestaurantActivity"
            android:exported="false"
            android:parentActivityName=".RestaurantListActivity" />
        <!-- 通用的MainActivity和购物车 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <!-- "我的"页面相关 -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".RestaurantListActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".ProfileActivity" />
        <!-- 订单相关 -->
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false"
            android:parentActivityName=".RestaurantListActivity" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false"
            android:parentActivityName=".OrderHistoryActivity" />
    </application>

</manifest>